<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#fff">
<link href='https://fonts.googleapis.com/css?family=EB+Garamond&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="lib/datepicker/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" media="all" href="css/style.css" >
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>